<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card mt-4">
        <div class="card-header">
          <div class="row">
            <div class="col-12">
              <h1><b>Visualizar Despensa</b></h1>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-12 text-center">
              <h3>Dados</h3>
            </div>
          </div>
          <hr>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Código:</label>
            <div class="col-md-9">
              {{despensa?.codigo}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Nome:</label>
            <div class="col-md-9">
              {{despensa?.nome}}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-3 col-form-label">Descrição:</label>
            <div class="col-md-9">
              {{despensa?.descricao}}
            </div>
          </div>
        </div>
        <div class="card-footer text-right">
          <button class="btn btn-secondary" routerLink="/home/despensa"><i class="fa fa-arrow-alt-circle-left"></i>
            Voltar</button>
          <button class="btn btn-primary" [routerLink]="['/home/despensa/editar', despensa?.codigo]" type="button">
            Editar</button>
        </div>
      </div>
    </div>
  </div>
</div>
